html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 14px;
}
nav a {
	color: black;
	text-decoration: none;
}

li:hover {
	cursor: pointer;
	font-weight: 600;
	color: black;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin:10px auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 16px;
	margin-top: 25px;
}

#introduction p {
	margin-bottom: 8px;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 16px;
}
#portfolio{
	position: relative;
}
/*********LES MODALES ********/
.titreModal {
	text-align: center;
	font-weight: 400;
	font-size: 28px;
}
.line{
	height:1px;
	background-color:#B3B3B3;
	width: 420px;
	margin: auto;
	left: 50%;
	transform: translateX(-50%);
	position: absolute;
	bottom: 175px;
  }
  .close-modal{
	font-weight: 600;
	font-size: 25px;
	position: absolute;
	top: 30px;
	right: 40px;
	cursor: pointer;
  }
/* *****MOADL1(suprimer un travail *****/

.modal{
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 1140px;
	margin: auto;
	position: fixed;
	top: 0;
	height: 100%;
	width: 100%;
	background:rgba(0, 0, 0, 0.5);
	z-index: 10;
  }
  .modal-wrapper {
	position: fixed;
	border-radius: 15px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 630px;
	height: 630px;
	max-width: 500px;
	padding: 45px;
	background-color: #fff;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
	z-index: 1;
  }
  .modal-wrapper .remoteMessage{
	color: red;
	position: absolute;
	left: 50%;
	bottom: 50px;
	transform: translateX(-50%);
	cursor: pointer;

  }
  .buttonModal{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 14px;
	color: white;
	background-color: #1D6154;
	width: 237px;
	height: 36px;
	text-align: center;
	border-radius: 60px ;
	cursor: pointer;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 100px;
  }
  #gallery-modal{
	margin: 20px 25px 0px;
	display: flex;
	flex-wrap: wrap;
 }
 #gallery-modal img{
	height: 105px;
	width: 80px;
  }
  /******* Icon Poubelle ****/
.img-container {
	position: relative;
	display: inline-block;
	margin: 5px;
  }
  .trash-icon-container {
	position: absolute;
	top: 5px;
	right: 5px;
	background-color: black;
	cursor: pointer;
	height: 15px;
	width: 15px;
	text-align: center;
  }
  .fa-solid.fa-trash-can {
	color: white;
	font-size: 9px;
  }
/* *******moade2(Ajouterphoto)************ */

  .modal-addPhoto{
	position: fixed;
	border-radius: 15px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 630px;
	height: 630px;
	max-width: 500px;
	padding: 45px;
	background-color: #fff;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
	/* z-index: 10; */
	display:block;
  }
  .divAddPhoto{
	text-align: center;
	height: 169px;
	width: 420px;
	margin: auto;
	background: #d6dcdf;
	padding-top: 20px;
	box-sizing: border-box;
	margin-top: 40px;
	position: relative;
  }
  .divAddPhoto img{
	position: absolute;
	top: 0;
	right: 50%;
	transform: translateX(50%);
	height: 100%;
  }
  .divIconValidate i{
	 color:#B9C5CC;
	 font-size: 58px;
  } 
  .buttonAddPhoto{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 14px;
	color:  #306685;
	background: #CBD6DC;
	width: 173px;
	height: 36px;
	text-align: center;
	border-radius: 60px ;
	cursor: pointer;
	border: none;
	margin: 10px 0px;
	cursor: pointer;
  }

  .modal-addPhoto form {
	text-align: left;
	width: 420px;
	margin: auto;
	display: flex;
	flex-direction: column;
}

.modal-addPhoto input, select{
	height: 50px;
	font-weight: 400;
	font-size: 14px;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	font-family: 'Work Sans', sans-serif;
	padding: 15px;
	box-sizing: border-box;
	color: #444444;
}

.modal-addPhoto select{
	cursor: pointer;
}

.modal-addPhoto label {
	color: #3D3D3D;
	font-weight: 500;
	font-size: 14px;
	margin: 32px 0 16px 0;
}

.modal-addPhoto textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
  
.buttonValidate{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 14px;
	color: white;
	background: #A7A7A7;
	width: 237px;
	height: 36px;
	text-align: center;
	border-radius: 60px ;
	cursor: pointer;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 100px;
	border: none;
  }

/******* EDITOR MODE *******/
.editorDiv{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: black;
	padding: 5px 0px;
	width: 1140px;
	position: relative;
	margin: auto;
	top: 0;
	z-index: 11
}
.editorMode{
	display:none;
}
.fontButtonEditor{
	font-family: 'Syne';
	font-size: 13px;
	font-weight: 700;
	background-color: white;
	border: 1px solid black;
	border-radius: 60px;
	padding: 8px 15px;
	cursor: pointer;
}

.whiteColor{
	color: white;
}

.fontEditor{
	font-size: 14px;
	margin: 10px 20px 10px  0px;
}

.fontEditor i{
	margin-right: 15px;
}

.margin-photo{
	margin-left: 51px;
}

  .editorMode{
	display: none;
  }
  
  .editorModeP{
	visibility: hidden;
	cursor: pointer;
  }
  #portfolio h2 + .fontEditor {
	position: absolute;
	top: 0px;
	right: 340px;
  }

/* *****Filtres */
.filters{
	display: flex;
	justify-content: space-between;
	width: 40%;
	margin: 50px auto;
}
.fontButton{
	font-family: 'Syne';
	font-size: 16px;
	font-weight: 700;
	background-color: white;
	border: 1px solid #1D6154;
	border-radius: 60px;
	color: #1D6154;
	padding: 8px 15px;
	cursor: pointer;
}
.fontButtonActive {
	font-family: 'Syne';
	font-size: 16px;
	font-weight: 700;
	background-color: #1D6154;
	border: 1px solid #1D6154;
	border-radius: 60px;
	color: white;
	padding: 8px 15px;
	cursor: pointer;
}


.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}
/********** LOGIN***********/
#login {
	color: black;
	text-decoration: none;
	width: 50%;
	margin: 200px auto;
}

#login h2{
margin-bottom:  60px;  ;
}

#login > * {
	text-align: center;

}

#login form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#login input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#login label {
	margin: 2em 0 1em 0;
}
#login textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

#error-message{
	display: flex;
	justify-content: center;
	color: red;
	margin-bottom: 10px;
}

.fontLink{
	display: flex;
	justify-content: center;
	color: black;
}
 /* ***footer */
footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}


